body {
    background-image: url('/images/new_background_1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.body {
    display: flex;
    justify-content: space-between;
}

.first_column, .second_column {
    width: 55%; 
}

div .first_column{
    width: 40%;
    padding-left: 20px;
}

div .first_column h4{
    background-color: white;
    color: #666;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;

}

.mode {
    color: white;
    width: 100%;
    height: 30px;
    margin: 20px 0;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
}
.mode label {
    height: 100%;
    width: 70px;
    cursor: pointer;
    position: relative;
    transition: all 0.15s ease;
    margin-left: 10px;
}
.mode label input {
    display: none;
    height: 100%;
}
.mode label .slider {
    width: 50px;
    height: 30px;
    position: absolute;
    padding: 2px;
    background: #cccccc;
    transition: all 0.15s ease;

}
.mode label .slider::before {
    content: '';
    width: 26px;
    height: 26px;
    background-color: white;
    position: absolute;
    left: 2px;
    transition: all 0.15s ease;

}
.mode label input:checked + .slider::before {
    left: 45%;
}
.mode label input:checked + .slider {
    background-color: #25975A;
}

div .first_column .buttons{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

div .first_column .buttons button {
    transition: .1s ease-in-out;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    padding: 0 30px;
    line-height: 38px;
    background-color: #25975A;
    color: white;
}

div .first_column .buttons button:hover{
    transition: .1s ease-in-out;
    background-color: white;
    color: black;
}

div .first_column .regim_pentru_student {
    margin-top: 20px;
    display: flex;
}

div .first_column p{
    color: white;
    font-weight: 900;

}

.search-container {
    position: relative;
    width: 100%;
  }
  
.search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.dropdown {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    border-radius: 0 0 4px 4px;
    max-height: 180px;
    overflow-y: auto;
    background-color: #fff;
    display: block;
}
  
.dropdown li {
    padding: 8px;
    cursor: pointer;
}
  
.dropdown li:hover {
    background-color: #f0f0f0;
}
  
div .day{
    width: 100%;
    font-family: Arial, sans-serif;
}
  
div .day label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
div .day .dropdown {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

div .week{
    width: 100%;
    font-family: Arial, sans-serif;
}
  
div .week label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
div .week .dropdown {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.container_result-orar {
    display: grid;
    grid-template-columns: 1fr 3.5fr; 
    grid-template-rows: 1fr; 
    grid-template-areas: 
    "days days"
    "days_letter grid_orar";   
    background: white;
    margin-top: 20px;
}
.days {
    grid-area: days;
    width: 100%;
    background: #25975A;
    display: grid;
    border: .5px solid rgb(255, 255, 255) ;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.days_item {
    color: white;
    border: .5px solid rgb(255, 255, 255) ;
    border-left: none;
    text-align: center;
}
.days_letter {
    grid-area: days_letter;
    display: grid;
    background: #25975A;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.days_letter-item {
    color: white;
    border: .5px solid rgb(255, 255, 255) ;
    padding: 1px 0;
    text-align: center;
}
.grid_orar {
    grid-area: grid_orar;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}
.grid_orar .row_orar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.row_orar-item {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(167, 167, 167) ;
    border-left: 0;
    border-top: 0;
    text-align: center;
    cursor: pointer;
}
.row_orar-item.seminar {
    background: rgb(255, 83, 83);
}
.row_orar-item.laborator {
    background: rgb(124, 255, 63);
}
.row_orar-item.prelegeri {
    background: rgb(189, 190, 255);
}

div .first_column .deffinition{
    margin-top: 30px;
    font-size: 12px;
    font-weight: 300;
}

div .first_column .deffinition div{
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

div .first_column .navigation_buttons{
    display: flex;
}

div .first_column .navigation_buttons .button2, .button3 {
    margin-left: 10px;
}

div .first_column .navigation_buttons .button1{
    padding: 5px;
    background-color: #25975A;
    color: white;
    border: none;
}

div .first_column .navigation_buttons .button2{
    padding: 5px;
    background-color: rgb(233, 125, 125);
    color: white;
    border: none;
}

div .first_column .navigation_buttons .button3{
    padding: 5px;
    background-color: #5b3666;
    color: white;
    border: none;
}

div .first_column .service{
    margin-top: 15px;
}

div .first_column .service p{
    padding: 20px;
    background-color: white;
    color: #32d296;
    font-weight: 100;
}

.second_column .container .header {
    text-align: center;
}

.second_column .container .header h3 {
    color: white;
    font-weight: 900;
}

.second_column .container img {
    width: 130px;
    margin-top: 20px;

}

.second_column .orar {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0; 
}



